# Files #
##############
*key.txt

# Folders #
##################
__pycache__
private
.ipynb_checkpoints
Solution PDFs

# Python scripts that don't belong #
####################################
pythagorean_triples.py
